/* From https://reactflow.dev/examples/edges/floating-edges */

.floatingedges .react-flow__handle {
  opacity: 0;
}

.floatingedges .react-flow__controls-button {
  background: transparent
}

.dark .floatingedges .react-flow__controls-button {
  border-bottom: 1px solid #666
}

.dark .floatingedges .react-flow__controls-button:last-child {
  border: none
}

.dark .floatingedges .react-flow__controls-button svg {
  fill: #eee
}

.dark .floatingedges .react-flow__controls-button:hover {
  background: #FFF2
}
  